<mat-card id="card">
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pokemon name or Number</mat-label>
    <input matInput placeholder="Chikorita" value="" id="name" #name>
  </mat-form-field>
  <button mat-raised-button type="button" (click)="click(name.value)">Buscar</button>
</form>
</mat-card>

<mat-card id="card">
<mat-nav-list>
  <a mat-list-item *ngFor="let link of list"> {{ link.name }} </a>
</mat-nav-list>
</mat-card>
<mat-card id="card">
<app-call [nombre]="nombrePasar" [altura]="alturaPasar" [order]="orderPasar" [peso]="pesoPasar"></app-call>
</mat-card>